<div class="doc-tag" (click)="open()" [matTooltip]="content().text||''" matTooltipPosition="above">
    <div class="thumbnail">
        <!-- @if (content.image_url.url.startsWith('data:image/')) {
        <img [src]="content.image_url.url" />
        } @else {
        <div>doc</div>
        } -->
        @if(image){
        <img [src]="image" class="p-1" />
        }
    </div>
    <div class="label">{{content().text || 'オブジェクト'}}</div>
    @if(removable()){
    <mat-icon class="close" (click)="onRemove($event)">close</mat-icon>
    }
</div>