<form [formGroup]="form" (ngSubmit)="registerProject()">
    <mat-form-field appearance="fill" class="full-width">
        <mat-label>{{ 'PROJECT_NAME' | translate }}</mat-label>
        <input matInput type="text" [placeholder]="'PROJECT_NAME_PLACEHOLDER' | translate" formControlName="projectLabel">
        @if (form.get('projectLabel')?.errors?.['required']) {
        <mat-error>{{ 'PROJECT_NAME_REQUIRED' | translate }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'SHARING_SCOPE' | translate }}</mat-label>
        <mat-select formControlName="share" [disabled]="!!targetTeam">
            <mat-option value="Alone">{{ 'PRIVATE' | translate }}</mat-option>
            @if(teamWithoutAloneList.length>0){
            <mat-option value="Team">{{ 'TEAM_ONLY' | translate }}</mat-option>
            }
            <!-- <mat-option value="Login">ログインユーザー全員</mat-option>
            <mat-option value="Public">無制限（誰でも見られる）</mat-option> -->
        </mat-select>
    </mat-form-field>

    <mat-form-field>
        <mat-label>{{ 'TEAM' | translate }}</mat-label>
        <mat-select formControlName="selectedTeamId" [disabled]="form.get('share')?.value !== 'Team' || !!targetTeam">
            @for(team of teamWithoutAloneList; track team.id){
            <mat-option [value]="team.id">{{team.label}}</mat-option>
            }
        </mat-select>
        @if (form.get('selectedTeamId')?.errors?.['required'] && form.get('share')?.value === 'Team') {
        <mat-error>{{ 'SELECT_TEAM' | translate }}</mat-error>
        }
    </mat-form-field>

    <mat-form-field class="textarea-field">
        <mat-label>{{ 'NOTES' | translate }}</mat-label>
        <textarea matInput type="text" [placeholder]="'NOTES' | translate" formControlName="projectDescription"></textarea>
    </mat-form-field>

    <button type="submit" [disabled]="form.invalid || isLoading">{{ 'REGISTER' | translate }}</button>
</form>

<style>
    form {
        height: 100%;
        margin: 20px;
        display: flex;
        flex-direction: column;
    }

    .textarea-field {
        flex-grow: 1;
        height: 1px;
    }

    button {
        padding: 10px 20px;
        border-radius: 5px;
        border: none;
        background-color: #666666;
        color: #ffffff;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    button:hover {
        background-color: #222;
    }
</style>