<button mat-icon-button [matMenuTriggerFor]="appMenu" class="trigger-icon">
    <mat-icon class="gradient-text">apps</mat-icon>
</button>

<mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>ホーム</span>
    </a>
    <a mat-menu-item [routerLink]="['/chat']">
        <mat-icon>chat</mat-icon>
        <span>AIチャット</span>
    </a>
    @for(key of groupKeys; track $index) {
    @if(key === 'git') {
    <button mat-menu-item [matMenuTriggerFor]="gitMenu">
        <mat-icon>
            <img src="./vsc-material-icons/icons/git.svg">
        </mat-icon>
        <span>Gitリポジトリ</span>
    </button>
    } @else {

    @for(apiProvider of apiProviderGroupedList[key]; track $index) {
    <a mat-menu-item [routerLink]="['/', key, apiProvider.name]">
        <mat-icon>
            <img src="./image/{{key}}-logo.svg">
        </mat-icon>
        <span>{{apiProvider.label}}</span>
    </a>
    }
    }

    }

    @if(isAdmin){
    <a mat-menu-item [routerLink]="['/', 'admin']">
        <mat-icon>settings</mat-icon>
        <span>管理者メニュー</span>
    </a>
    }
</mat-menu>
<mat-menu #gitMenu="matMenu">
    @for (apiProvider of apiProviderGroupedList['git']; track $index) {
    @if(['gitlab', 'gitea'].includes(apiProvider.type)){
    <a mat-menu-item [routerLink]="['/', apiProvider.type, apiProvider.name]">
        <mat-icon>
            <img [src]="'./image/' + apiProvider.type + '-logo.svg'" [alt]="apiProvider.type + ' logo'">
        </mat-icon>
        <span>{{ apiProvider.label }}</span>
    </a>
    }
    }
</mat-menu>