<button mat-icon-button [matMenuTriggerFor]="appMenu" class="trigger-icon">
    <mat-icon class="gradient-text">apps</mat-icon>
</button>

<mat-menu #appMenu="matMenu">
    <a mat-menu-item [routerLink]="['/home']">
        <mat-icon>home</mat-icon>
        <span>{{ 'HOME' | translate }}</span>
    </a>
    <a mat-menu-item [routerLink]="['/chat']">
        <mat-icon>chat</mat-icon>
        <span>{{ 'AI_CHAT' | translate }}</span>
    </a>

    <!--
    <a mat-menu-item [routerLink]="['/automation']">
        <mat-icon>auto_mode</mat-icon>
        <span>{{ 'AUTOMATION_DASHBOARD' | translate }}</span>
    </a>
    <a mat-menu-item [routerLink]="['/project']">
        <mat-icon>hub</mat-icon>
        <span>{{ 'PROJECT_DASHBOARD' | translate }}</span>
    </a>
    -->

    @for(key of groupKeys; track $index) {
    @if(key === 'git') {
    <button mat-menu-item [matMenuTriggerFor]="gitMenu">
        <mat-icon>
            <img src="./vsc-material-icons/icons/git.svg">
        </mat-icon>
        <span>{{ 'GIT_REPOSITORY' | translate }}</span>
    </button>
    } @else {

    @for(apiProvider of apiProviderGroupedList[key]; track $index) {
    @if(key==='mattermost') {
    <!-- Mattermost Light固定にしてみる -->
    <a mat-menu-item href="/mattermost/default/" target="_blank">
        <mat-icon>
            <img src="./image/mattermost-light-logo.svg" alt="mattermost-light logo">
        </mat-icon>
        <!-- <span>{{ 'MATTERMOST_LIGHT' | translate }}</span> -->
        <span>Mattermost Light</span>
    </a>
    } @else{
    <a mat-menu-item [routerLink]="['/', key, apiProvider.name]">
        <mat-icon>
            <img src="./image/{{key}}-logo.svg">
        </mat-icon>
        <span>{{apiProvider.label}}</span>
    </a>
    }
    }
    }

    }

    @if(isAdmin){
    <a mat-menu-item [routerLink]="['/', 'admin']">
        <mat-icon>settings</mat-icon>
        <span>{{ 'ADMIN_MENU' | translate }}</span>
    </a>
    }
</mat-menu>
<mat-menu #gitMenu="matMenu">
    @for (apiProvider of apiProviderGroupedList['git']; track $index) {
    @if(['gitlab', 'gitea'].includes(apiProvider.type)){
    <a mat-menu-item [routerLink]="['/', apiProvider.type, apiProvider.name]">
        <mat-icon>
            <img [src]="'./image/' + apiProvider.type + '-logo.svg'" [alt]="apiProvider.type + ' logo'">
        </mat-icon>
        <span>{{ apiProvider.label }}</span>
    </a>
    }
    }
</mat-menu>