<!-- <h2 mat-dialog-title>{{ 'APPLICATION_SETTINGS' | translate }}</h2> -->

<mat-dialog-content>
    <div class="settings-section">
        <h3>{{ 'ANIMATION_SETTINGS' | translate }}</h3>
        <div class="setting-item">
            <mat-slide-toggle [checked]="current" (change)="toggleAnimation($event)">
                {{ 'ENABLE_ANIMATION' | translate }}
            </mat-slide-toggle>
            <p class="setting-description">
                {{ 'ANIMATION_DESCRIPTION' | translate }}<br />{{ 'RELOAD_REQUIRED' | translate }}
            </p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-section">
        <h3>{{ 'COLOR_THEME' | translate }}</h3>
        <div class="setting-item">
            <mat-button-toggle-group [(value)]="theme" (change)="toggleTheme($event)">
                <mat-button-toggle value="system">{{ 'SYSTEM' | translate }}</mat-button-toggle>
                <mat-button-toggle value="dark">{{ 'DARK' | translate }}</mat-button-toggle>
                <mat-button-toggle value="light">{{ 'LIGHT' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
            <p class="setting-description">
                {{ 'THEME_DESCRIPTION' | translate }}<br />{{ 'DEFAULT_SYSTEM_THEME' | translate }}
            </p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-section">
        <h3>{{ 'SEND_MODE_SETTING' | translate }}</h3>
        <div class="setting-item">
            <mat-radio-group [value]="enterMode" name="enter-mode" (change)="toggleEnterMode($event)">
                <mat-radio-button value="Ctrl+Enter">{{ 'SEND_WITH_CTRL_ENTER' | translate }}</mat-radio-button>
                <span class="inline-block min-w-10"></span>
                <mat-radio-button value="Enter">{{ 'SEND_WITH_ENTER' | translate }}</mat-radio-button>
            </mat-radio-group>
            <p class="setting-description">
                {{ 'SEND_MODE_DESCRIPTION' | translate }}<br />{{ 'DEFAULT_CTRL_ENTER' | translate }}
            </p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-section">
        <h3>{{ 'HISTORY_CLOSE_SETTING' | translate }}</h3>
        <div class="setting-item">
            <mat-radio-group [value]="historyCloseMode" name="history-close-mode"
                (change)="toggleHistoryCloseMode($event)">
                <mat-radio-button [value]="0">{{ 'DONT_CLOSE' | translate }}</mat-radio-button>
                <span class="inline-block min-w-10"></span>
                <mat-radio-button [value]="1">{{ 'CLOSE_USER_PROMPT_ONLY' | translate }}</mat-radio-button>
                <span class="inline-block min-w-10"></span>
                <mat-radio-button [value]="2">{{ 'CLOSE_BOTH' | translate }}</mat-radio-button>
            </mat-radio-group>
            <p class="setting-description">
                {{ 'HISTORY_CLOSE_DESCRIPTION' | translate }}<br />{{ 'DEFAULT_DONT_CLOSE' | translate }}
            </p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="settings-section">
        <h3>{{ 'LANGUAGE_SETTING' | translate }}</h3>
        <div class="setting-item">
            <mat-button-toggle-group [(value)]="language" (change)="toggleLanguage($event)">
                <mat-button-toggle value="auto">{{ 'SYSTEM' | translate }}</mat-button-toggle>
                <mat-button-toggle value="ja">{{ 'JAPANESE' | translate }}</mat-button-toggle>
                <mat-button-toggle value="en">{{ 'ENGLISH' | translate }}</mat-button-toggle>
                <mat-button-toggle value="zh">{{ 'CHINESE' | translate }}</mat-button-toggle>
            </mat-button-toggle-group>
            <p class="setting-description">
                {{ 'LANGUAGE_DESCRIPTION' | translate }}<br />{{ 'DEFAULT_BROWSER_LANGUAGE' | translate }}
            </p>
        </div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button mat-dialog-close>{{ 'CANCEL' | translate }}</button>
    <button mat-raised-button color="primary" (click)="saveAndClose()">
        {{ 'SAVE_AND_CLOSE' | translate }}
    </button>
</mat-dialog-actions>