@if(messageGroup() && messageGroup().messages && messageGroup().messages.length>0 && thread().inDto.args.model){
<mat-expansion-panel class="message" #exPanel [expanded]="messageGroup().isExpanded"
    (opened)="loadContent().subscribe()" (expandedChange)="expandedEmitter.emit($event)">
    <!-- [expanded]="messageGroup.messages[0].contents.length>0" -->
    <mat-expansion-panel-header class="message-header">
        <mat-panel-title class="message-title" style="font-weight: normal;">
            <!-- モデル選択 -->

            <select name="model-select" class="model-select" (click)="stopPropagation($event)"
                [(ngModel)]="thread().inDto.args.model" (change)="modelChange()">
                @for(option of chatService.modelList;track $index) {
                <option [ngClass]="[option.tag]" [value]="option.id">{{option.tag}}：{{option.id}}</option>
                }
            </select>
            <!-- 
            <select name="model-select" class="model-select" (click)="stopPropagation($event)"
                [(ngModel)]="thread().inDto.args.model" (change)="modelChange()">
                @for(modelGroupId of modelGroupIdList;track $index){
                <optgroup [ngClass]="[modelGroupId]" [label]="modelGroupId">
                    @for(option of modelGroupList[modelGroupId];track $index) {
                    <option [ngClass]="[modelGroupId]" [value]="option">{{option}}</option>
                    }
                </optgroup>
                }
            </select>
            -->
            @if(thread().inDto.args.model; as model){
            @if(chatService.modelMap[model].isGSearch){
            <div class="flex items-center" style="width: 150px;"
                [matTooltip]="chatService.modelMap[model].isGSearch?'Google検索の結果をもとに回答します。直近情報（バージョン系の話）やニュースやローカルな話（天気予報）等について会話する際はONにしてください。':'Gemini以外では使用できません。'">
                <img src="./image/google-icon.svg" alt="Googleアイコン" class="w-8 h-8" style="min-width: 30px;"
                    [ngStyle]="{opacity: thread().inDto.args.isGoogleSearch ? 1 : 0.3}"
                    (click)="thread().inDto.args.isGoogleSearch=!thread().inDto.args.isGoogleSearch;stopPropagation($event);">
            </div>
            }
            }
        </mat-panel-title>
        <mat-panel-description>
            <div class="truncate">{{messageGroup().messages[0].label}}</div>
        </mat-panel-description>
        <div class="right-0 top-0 flex gap-2 p-2">
            <!-- <div style="right: 0;top: 0;display: flex;gap: 10px;padding: 10px;"> -->
            <!-- 
            <button mat-icon-button class="invisible">
                <mat-icon>folder_zip</mat-icon>
            </button>
            <button mat-icon-button (click)="copyToClipboard($event)" title="クリップボードにコピー">
                <mat-icon>content_copy</mat-icon>
            </button>
             -->
            <button mat-icon-button (click)="setEdit($event)" [title]="messageGroup().messages[0].editing?'保存':'編集'">
                @if(messageGroup().messages[0].editing){
                <mat-icon>check_circle</mat-icon>
                }@else{
                <mat-icon>edit</mat-icon>
                }
            </button>
            <button mat-icon-button (click)="removeThread($event)" style="margin-right: 10px;"
                [ngClass]="{invisible: !removable()}">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </mat-expansion-panel-header>

    <div class="flex w-full">
        @for (message of messageGroup().messages; track $index) {
        <div class="w-full relative" [ngClass]="{'message-notediting': !message.editing}">
            <!-- ファイル -->
            @if(message.contents.length>1){
            <div class="flex justify-start gap-2 w-full p-5 mb-5 overflow-x-auto">
                @for(content of message.contents; track $index) {
                @if(content.type==='text') {
                } @else if(content.type==='error') {
                } @else {
                <app-doc-tag [content]="content" (remove)="message.cacheId||removeDoc(content)"></app-doc-tag>
                }
                }
            </div>
            }

            <!-- メッセージ -->
            @for(content of message.contents; track $index){
            @if(content.type==='text'){
            <div class="chat-input" [hidden]="!message.editing">
                <textarea #textAreaElem [hidden]="!message.editing" (keydown)="onKeyDown($event)"
                    (blur)="onBlur($event)" (load)="onLoad()" [ngStyle]="{height:height}" [placeholder]="'メッセージを入力...'"
                    [(ngModel)]="content.text" (change)="onSubmit()"></textarea>
            </div>
            <div class="custom-scroll" style="display: block;overflow: auto;"
                [ngClass]="[messageGroup().role==='assistant'&&layout()==='grid'?'grid-panel':'flex-panel']"
                #textBodyElem>
                <markdown [hidden]="message.editing" katex mermaid clipboard
                    [data]="brackets.pre+content.text+brackets.post">
                </markdown>
            </div>
            }@else if(content.type==='error'){
            <div style="color: red;overflow: auto;">
                <div>ERROR</div>
                {{content.text}}
            </div>
            }@else{
            <!-- text 以外はファイル -->
            }
            }

            <!-- Loading -->
            @if (message.status === 'Loading') {
            <!-- アニメーションつけるかどうか [@fadeAnimation] -->
            <div class="absolute inset-0 flex items-center justify-center bg-black/25">
                <mat-spinner style="transform: scale(0.4);"></mat-spinner>
            </div>
            }
        </div>
        }
    </div>
</mat-expansion-panel>
} @else {
{{messageGroup().messages.length}}
<!-- {{messageGroup.selectedIndex}} -->
}

<!-- <div class="chat-messages"></div> -->