/* 共通調整 */
.mat-menu-panel {
    min-width: 260px; // 例：1段目と2段目を同幅に
}

/* 3段目だけ余白ゼロでカードをぴったり出す */
.no-padding .mat-menu-content {
    padding: 0;
}


::ng-deep {
    .level-3 {
        background: transparent;
    }

    .mat-mdc-menu-panel {
        max-width: unset;
    }
}

.model-selector {
    div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.detail-card {
    cursor: pointer;
    max-height: 400px;
    overflow-y: auto;
}

/* モデルリスト内の小テキストなど */
.model-name {
    font-weight: 500;
}

.model-desc {
    font-size: 11px;
    opacity: .7;
}

.preview {
    font-size: 10px;
    color: #f44336;
    margin-left: 4px;
}