<style>
    :host {
        display: block;
        padding: 20px;
        text-align: center;
    }

    .content {
        height: calc(100vh - 300px);
        max-height: calc(100vh - 200px);
        margin: auto;
    }
</style>

<div class="flex justify-center w-full">
    @if(fileGroup){
    <div class="w-1/4">
        <div class="w-full custom-scroll" style="height: calc(100vh - 210px)">
            <div class="w-full sticky top-0 ">
                <div class="w-full p-[10px]">ファイル種別</div>
                @for(fileType of fileTypeList;track $index){
                <div [title]="fileTypeMap[fileType].disabled?'この形式は対応していません':''"
                    [ngClass]="{'cursor-not-allowed': fileTypeMap[fileType].disabled}">
                    <mat-checkbox color="primary" [(ngModel)]="fileTypeMap[fileType].isActive"
                        [disabled]="fileTypeMap[fileType].disabled"
                        [indeterminate]="fileTypeMap[fileType].indeterminate" (change)="checkFileType(fileType)"
                        class="text-left text-nowrap w-full">
                        {{fileType}}
                    </mat-checkbox>
                </div>
                }
                <mat-divider></mat-divider>
                <div class="w-full p-[10px]">ファイル一覧</div>
            </div>

            @for(file of fileGroup.files;track $index){
            <div class="text-left text-nowrap cursor-pointer" [ngClass]="{'bg-gray-700':index==$index}"
                (click)="setIndex($index)">
                <mat-checkbox color="primary" [(ngModel)]="file.isActive" (change)="checkFile(file)"
                    [disabled]="fileTypeMap[file.fileType].disabled"
                    [ngClass]="{'cursor-not-allowed': fileTypeMap[file.fileType].disabled}"></mat-checkbox>
                <span [title]="fileTypeMap[file.fileType].disabled?'この形式は対応していません':''">
                    {{file.fileName}}
                </span>
            </div>
            }
        </div>
    </div>

    <!-- @if(fileGroup.files.length&&index>0){
    <button mat-icon-button (click)="setIndex(index-1)"><mat-icon>arrow_back_ios</mat-icon></button>
    }
    -->
    <div class="custom-scroll w-full">
        <h3>{{label}}</h3>
        @if(type==='image'){
        <img class="content" [src]="dataUrl" />
        }@else if(type==='text'){
        <select [(ngModel)]="encode" (change)="decode()" style="margin:0 20px;background-color: #303030;">
            <option value="UTF-8">UTF-8</option>
            <option value="Windows-31J">Shift-JIS(Windows-31J)</option>
            <option value="EUC-JP">EUC-JP</option>
        </select>
        <div class="content">
            <markdown katex mermaid clipboard [data]="brackets.pre+text+brackets.post"></markdown>
        </div>
        }@else if(type==='audio'){
        <audio class="content" [src]="dataUrl" controls></audio>
        }@else if(type==='video'){
        <video class="content" [src]="dataUrl" controls></video>
        }@else if(type==='pdf'){
        <iframe class="content" width="800" style="height:90vh;" [src]="pdfUrl"></iframe>
        }@else {
        @if(dataUrl){
        <a href="javascript: void(0)" (click)="downloadFile()">このコンテンツは表示できません</a>
        }
        <div>{{dataUrl.substring(0,dataUrl.indexOf(','))}}</div>
        }
    </div>
    <!-- 
    @if(fileGroup.files.length&&fileGroup.files.length-1>index){
    <button mat-icon-button (click)="setIndex(index+1)"><mat-icon>arrow_forward_ios</mat-icon></button>
    }
    -->
    }
</div>