<style>
    :host {
        display: block;
        padding: 20px;
        text-align: center;
    }

    .content {
        max-height: calc(100vh - 200px);
        margin: auto;
    }
</style>

<div class="flex justify-center">

    @if(data.contents.length&&data.index>0){
    <button mat-icon-button (click)="setIndex(data.index-1)"><mat-icon>arrow_back_ios</mat-icon></button>
    }

    <div>
        <h3>{{label}}</h3>
        @if(type==='image'){
        <img class="content" [src]="dataUrl" />
        }@else if(type==='text'){
        <select [(ngModel)]="encode" (change)="decode()" style="margin:0 20px;background-color: #303030;">
            <option value="UTF-8">UTF-8</option>
            <option value="Windows-31J">Shift-JIS(Windows-31J)</option>
            <option value="EUC-JP">EUC-JP</option>
        </select>
        <div class="content" style="overflow: auto;">
            <markdown katex mermaid clipboard [data]="brackets.pre+text+brackets.post"></markdown>
        </div>
        }@else if(type==='audio'){
        <audio class="content" [src]="dataUrl" controls></audio>
        }@else if(type==='video'){
        <video class="content" [src]="dataUrl" controls></video>
        }@else if(type==='pdf'){
        <iframe class="content" width="800" style="height:90vh;" [src]="pdfUrl"></iframe>
        }@else {
        @if(dataUrl){
        <a href="javascript: void(0)" (click)="downloadFile()">このコンテンツは表示できません</a>
        }
        <div>{{dataUrl.substring(0,dataUrl.indexOf(','))}}</div>
        }
    </div>

    @if(data.contents.length&&data.contents.length-1>data.index){
    <button mat-icon-button (click)="setIndex(data.index+1)"><mat-icon>arrow_forward_ios</mat-icon></button>
    }

</div>