<div class="p-5">
    <div class="container">
        <a class="flex cursor-pointer" (click)="back()"><mat-icon>home</mat-icon>{{ 'BACK_TO_HOME' | translate }}</a>
        @if(team && team.projects && team.members){

        @if(editLabel){
        <!-- <h1 style="visibility:hidden">プロジェクト名</h1> -->
        <input [(ngModel)]="team.label" name="label" class="mb-5 mr-5" style="margin-top: 1.25em;font-size: 3.5em;"
            [placeholder]="'ENTER_TEAM_NAME' | translate" />
        <button mat-mini-fab color="primary">
            <mat-icon (click)="submitLabel()" class="cursor-pointer">check</mat-icon>
        </button>
        <textarea [(ngModel)]="team.description" name="description" [placeholder]="'ENTER_DESCRIPTION' | translate"></textarea>

        } @else {
        <h1>{{team.label}}
            <button mat-mini-fab color="primary">
                <mat-icon (click)="editLabel=true" class="cursor-pointer">edit</mat-icon>
            </button>
        </h1>
        <p>{{team.description}}</p>

        }

        @if(team.id!=='new-team'){
        <h1>{{ 'MEMBERS' | translate }}</h1>
        <!-- <h1>Projects</h1> -->
        <div class="recent-chats">
            @for(member of team.members;track $index){
            <button class="panel chat-item" (click)="editMember(member)">
                <h3>{{member.user.name}}</h3>
                <p>{{member.role}}：{{member.user.status}}</p>
            </button>
            }
            <button class="panel chat-item" (click)="editMember()">{{ 'ADD_MEMBER' | translate }}</button>
        </div>

        <h1>{{ 'PROJECTS' | translate }}</h1>
        <!-- <h1>Projects</h1> -->
        <div class="recent-chats">
            @for(project of team.projects;track $index){
            <button class="panel chat-item" [routerLink]="['/chat', project.id]">
                <div>
                    <h3>{{project.label}}</h3>
                    <p>{{project.description}}</p>
                </div>
                <p>{{ 'LAST_USED' | translate }}: {{ project.updatedAt|relativeTime}}</p>
            </button>
            }
            <button class="panel chat-item" (click)="createProject()">{{ 'CREATE_NEW' | translate }}</button>
        </div>

        <button (click)="deleteTeam()" style="display: flex;
        align-items: center;
        margin-left: auto;
        margin-top: 100px;
        color: #660000;">
            <mat-icon (click)="editLabel=true" class="cursor-pointer">delete</mat-icon>{{ 'DELETE_TEAM' | translate }}
        </button>

        }

        }
    </div>

</div>