<style>
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 2rem;
    }

    input {
        background-color: black;
        color: white;
    }
</style>

<div class="p-5">
    <div class="container">
        <p>{{ 'EMAIL_AUTH_REQUIRED' | translate }}</p>
        <p>{{ 'EMAIL_SENT_INSTRUCTION' | translate }}</p>
        <p>{{ 'EMAIL_AUTH_CODE' | translate }}</p>
        <h3>{{pincode}}</h3>
        <p>{{ 'AUTO_AUTH_NOTE' | translate }}</p>
    </div>
</div>