<div [matMenuTriggerFor]="userMenu" class="fixed cursor-pointer" style="
    bottom: 0;
    width: 209px;
    text-align: center;
    height: 50px;
    background: var(--background-gradient);
    display: flex;
    align-items: center;
    justify-content: left;
    ">
    <button mat-icon-button color="primary">
        <mat-icon>circle</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="openHistory()">
            <mat-icon>browse_activity</mat-icon>
            <span>{{ 'USAGE_HISTORY' | translate }}</span>
        </button>
        <button mat-menu-item (click)="openUserSetting()">
            <mat-icon>settings</mat-icon>
            <span>{{ 'SETTINGS' | translate }}</span>
        </button>
        <button mat-menu-item (click)="openApiKeyManager()">
            <mat-icon>key</mat-icon>
            <span>{{ 'API_KEY_MANAGEMENT' | translate }}</span>
        </button>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="authService.logout()">
            <mat-icon>logout</mat-icon>
            <span>{{ 'LOGOUT' | translate }}</span>
        </button>
    </mat-menu>
    {{g.info.user.email}}
</div>