<style>
    .bottom {
        width: calc(100% - 300px);
        position: fixed;
        bottom: 20px;
        z-index: 1;
        display: flex;
        flex-direction: column;
    }

    .chat-input {
        display: flex;
        padding: 0 20px;
        width: 100%;
        align-items: center;
        gap: 20px;

        textarea {
            flex-grow: 1;
            padding: 10px;
            border: 2px solid #10a37f;
            border-radius: 4px;
            /* resize: none; */
            min-height: 60px;
            max-height: 300px;
            background-color: #303030;
        }
    }

    .drop-zone {
        display: block;
        width: 100%;
        height: 100%;
        flex-grow: 1;
        min-width: 0;
    }

    .drop-message {
        position: absolute;
        margin: auto;
        width: 100%;
        height: 100%;
        max-height: 100vh;
        display: none;
        font-size: 64px;
        padding-top: 100%;
        text-align: center;
        border: 5px dashed #999;
        top: 0;
        left: 0;
    }

    .drop-message:hover {
        display: block;
    }

    .drop-zone.hovered {
        opacity: 0.5;

        .drop-message {
            display: block;
        }
    }

    .close {
        position: absolute;
        top: 2px;
        right: -3px;
        font-size: 18px;
        color: #999;
        cursor: pointer;

        &:hover {
            color: inherit;
        }
    }

    .model-select {
        width: auto;
        padding: 10px;
        background-color: #606060;
        cursor: pointer;

        option {
            line-height: 30px;
            padding: 10px;
        }
    }

    .add-thread {
        cursor: pointer;
        background-color: #121212;
        transition: all 0.1s 0s linear;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
    }

    .add-thread:hover {
        background-color: #606060;
    }
</style>

<div style="display: flex;width: 100%;">
    <!-- スレッドリスト -->
    <div style="height: 100%;width: 240px;padding-top:20px;">
        <div class="add-thread" (click)="clearInDto()">
            <button mat-icon-button matTooltip="Create new thread">
                <mat-icon>add_circle</mat-icon>
            </button>
            <div>New thread</div>
        </div>
        @for(thread of threadList; track $index){
        <div style="position:relative" [ngStyle]="{'background-color':thread===selectedThread?'#303030':'inherit'}">
            @if(thread.isEdit){
            <input [(ngModel)]="thread.title" name="thread-title-{{$index}}" id="thread-title-{{$index}}"
                style="color: #303030;margin: 4px;padding-left: 7px;"
                (change)="renameThread($event, thread, false, $index)"
                (blur)="renameThread($event, thread, false, $index)" />
            }@else{
            <div style="padding:5px 10px;border-bottom: 1px solid #a0a0a0;cursor: pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;"
                (click)="selectThread(thread)" [title]="thread.title">
                {{thread.title}}
            </div>
            }
            <button mat-icon-button style="position:absolute;right:0;top:-3px;" [matMenuTriggerFor]="threadMenu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #threadMenu="matMenu">
                <button mat-menu-item (click)="renameThread($event, thread, true, $index)">
                    <mat-icon>edit</mat-icon>
                    <span>名前変更</span>
                </button>
                <button mat-menu-item (click)="duplicate($event, thread)">
                    <mat-icon>file_copy</mat-icon>
                    <span>複製</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>download</mat-icon>
                    <span>エクスポート</span>
                </button>
                <button mat-menu-item (click)="removeThread($event,$index,thread)">
                    <mat-icon style="color: #FF6666">close</mat-icon>
                    <span style="color: #FF6666">削除</span>
                </button>
            </mat-menu>
        </div>
        }
    </div>

    <div class="drop-zone" appFileDrop (drop)="onDrop($event)" (filesDropped)="onFilesDropped($event)"
        (filesHovered)="onFilesHovered($event)" [class.hovered]="isHovered">

        <div
            style="width: 100%; display: flex;gap: 30px;padding: 0 20px;align-items: center;justify-content: space-between;">
            <!-- モデル選択 -->
            <select [(ngModel)]="inDto.args.model" class="model-select">
                <option value="gemini-1.0-pro">gemini-1.0-pro</option>
                <option value="gemini-1.0-pro-vision">gemini-1.0-pro-vision</option>
                <option value="gemini-1.5-flash">gemini-1.5-flash</option>
                <option value="gemini-1.5-pro">gemini-1.5-pro</option>
                <option value="gemini-1.5-flash-001">gemini-1.5-flash-001</option>
                <option value="gemini-1.5-pro-001">gemini-1.5-pro-001</option>
                <option value="claude-3-5-sonnet@20240620">claude-3-5-sonnet&#64;20240620</option>
            </select>
            <div style="position: relative;top: 6px;">
                <div style="position: absolute;">temperature: {{inDto.args.temperature|number:'0.1'}}</div>
                <mat-slider min="0" max="2" step="0.1" style="margin-top: 10px;">
                    <input matSliderThumb [(ngModel)]="inDto.args.temperature">
                </mat-slider>
            </div>
            <div style="position: relative;top: 6px;">
                <div style="position: absolute;display: flex;"> maxTokens:
                    <div style="width: 45px;text-align: right;">{{inDto.args.max_tokens|number}}</div>
                </div>
                <mat-slider min="10" max="8192" step="1" style="margin-top: 10px;">
                    <input matSliderThumb [(ngModel)]="inDto.args.max_tokens">
                </mat-slider>
            </div>
            <button mat-raised-button color="primary" (click)="saveSettingsAsDefault()" style="line-height: 16px;;">
                save as<br />default</button>
            <button mat-icon-button (click)="toggleAllExpandCollapse()">
                <mat-icon>@if (allExpandCollapseFlag) { unfold_less } @else { unfold_more }</mat-icon>
            </button>
            <div style="min-width: 0;flex-grow: 1;"></div>
            <style>
                /* CSS Grid Layout */
                .grid-layout {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                }

                .grid-item {
                    text-align: right;
                }
            </style>
            <div class="grid-layout" (click)="isCost=!isCost" style="cursor: pointer;">
                <div class="grid-item" style="font-size: 11px;">Tokens : </div>
                <div class="grid-item">
                    @if(tokenObj.totalTokens ==-1){ wait.. } @else {
                    {{tokenObj.totalTokens|number}}
                    }
                </div>
                @if(isCost){
                <div class="grid-item" style="font-size: 11px;">Cost :</div>
                <div class="grid-item">
                    @if(tokenObj.totalTokens ==-1){ wait.. } @else {
                    $ {{calcCost()|number:'1.2-2'}}
                    }
                </div>
                } @else {
                <div class="grid-item" style="font-size: 11px;">Chars :</div>
                <div class="grid-item">
                    @if(tokenObj.totalTokens ==-1){ wait.. } @else {
                    {{(this.tokenObj.text + this.tokenObj.image + this.tokenObj.audio + this.tokenObj.video)|number}}
                    }
                </div>
                }
            </div>
        </div>

        <!-- チャットエリア -->
        <div #textBodyElem
            style="height: calc(100vh - 68px);overflow-y: auto;width: 100%; display: flex;flex-direction: column;gap: 10px;padding: 20px;">
            @for(message of inDto.args.messages; track $index){
            <app-chat-panel #chatPanel [message]="message" [bitCounter]="bitCounter"
                (removeDoc)="removeDoc(message.content, $event)" (remove)="removeMessage($index)"
                (edit)="onChange()"></app-chat-panel>
            }
            <div class="spacer" style="min-height: 200px;"></div>
        </div>

        <!-- 入力エリア -->
        <div class="bottom">
            <!-- ファイル一覧 -->
            <div style="display: flex;justify-content: left;gap: 10px;width: 100%;padding:20px;overflow-x: auto;">
                @for(content of inputArea.content; track $index){
                @if(content.type==='text'){
                }@else{
                <app-doc-tag [content]="content" (remove)="removeDoc(inputArea.content, $index)"></app-doc-tag>
                }
                }
            </div>
            <!-- メッセージ入力 -->
            <div class="chat-input">
                @for(content of inputArea.content; track $index){
                @if(content.type==='text'){
                <textarea (keydown)="onKeyDown($event)" #textAreaElem [placeholder]="isHovered?'ファイルドロップ':'メッセージを入力...'"
                    [(ngModel)]="content.text" (change)="onChange()"></textarea>
                <button mat-fab color="primary" aria-label="Send"
                    [disabled]="(!content.text&&inDto.args.messages[inDto.args.messages.length-1].role!=='user') || isLock"
                    (click)="send()">
                    <mat-icon>send</mat-icon>
                </button>
                <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" #name>
                    <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none;" multiple>
                    <button mat-menu-item (click)="openFileDialog(fileInput)">
                        <mat-icon>attach_file</mat-icon>
                        <span>ファイル添付</span>
                    </button>
                    <button mat-menu-item (click)="createCache()">
                        <mat-icon>upload</mat-icon>
                        <span>コンテキストキャッシュ化</span>
                    </button>
                </mat-menu>
                }@else{
                }
                }
            </div>
        </div>
        <!-- <div appFileDrop class="drop-message" (filesHovered)="onFilesHovered($event)">Drop</div> -->
    </div>
</div>