<p>gitlab works!</p>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
</style>
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>path_with_namespace</th>
            <th>default_branch</th>
            <!-- 
            <th>name_with_namespace</th>
            <th>description</th>
            <th>created_at</th>
            <th>updated_at</th>
            <th>path</th>
            <th>namespace</th>
            -->
        </tr>
    </thead>
    <tbody>
        @for (project of projects; track $index) {
        <tr (click)="onSelect(project.id)">
            <td>{{project.id}}</td>
            <td>{{project.name}}</td>
            <td>{{project.path_with_namespace}}</td>
            <td>{{project.default_branch}}</td>
            <!-- 
            <td>{{project.name_with_namespace}}</td>
            <td>{{project.description}}</td>
            <td>{{project.created_at|date:'yyyy-MM-dd hh:mm:ss.SSS'}}</td>
            <td>{{project.updated_at|date:'yyyy-MM-dd hh:mm:ss.SSS'}}</td>
            <td>{{project.path}}</td>
            <td>{{project.namespace|json}}</td>
            -->
        </tr>
        }
    </tbody>
</table>