@use '@angular/material'as mat;
@use '@angular/material/core/m2'as m2;

// Use the default configuration.
// $my-typography: m2.define-typography-config($font-family: '"M PLUS 1P"');
// $my-typography: m2.define-typography-config($font-family: '"Noto Sans JP"');
// @include mat.typography-hierarchy($my-typography);

/* You can add global styles to this file, and also import other style files */
// Angular Materialのテーマ
// @import "@angular/material/prebuilt-themes/cyan-orange.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


select {
    background-color: #080a0a;
}

// Angular Material 18まではあったけど19からは無くなった定義。本当は19に合わせて直した方がよかったが、影響がでかすぎるから据え置きで移設してきた。いつか消したい。
.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography h1 {
    font: 400 3.562rem / 4rem Roboto, sans-serif;
    letter-spacing: -0.016rem;
    margin: 0 0 .5em
}

.mat-display-medium,
.mat-typography .mat-display-medium,
.mat-typography h2 {
    font: 400 2.812rem / 3.25rem Roboto, sans-serif;
    letter-spacing: 0;
    margin: 0 0 .5em
}

.mat-display-small,
.mat-typography .mat-display-small,
.mat-typography h3 {
    font: 400 2.25rem / 2.75rem Roboto, sans-serif;
    letter-spacing: 0;
    margin: 0 0 .5em
}

.mat-headline-large,
.mat-typography .mat-headline-large,
.mat-typography h4 {
    font: 400 2rem / 2.5rem Roboto, sans-serif;
    letter-spacing: 0;
    margin: 0 0 .5em
}

.mat-headline-medium,
.mat-typography .mat-headline-medium,
.mat-typography h5 {
    font: 400 1.75rem / 2.25rem Roboto, sans-serif;
    letter-spacing: 0;
    margin: 0 0 .5em
}

.mat-headline-small,
.mat-typography .mat-headline-small,
.mat-typography h6 {
    font: 400 1.5rem / 2rem Roboto, sans-serif;
    letter-spacing: 0;
    margin: 0 0 .5em
}

// Angular Material 18まではあったけど19からは無くなった定義。本当は19に合わせて直した方がよかったが、影響がでかすぎるから据え置きで移設してきた。いつか消したい。


// @font-face {
//     font-family: 'Noto Sans Mono CJK JP';
//     src: url('path/to/NotoSansMonoCJKjp-Regular.otf') format('opentype');
// }

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;

    background: linear-gradient(135deg, #121212 0%, rgb(15, 24, 30) 80%, rgb(2, 2, 2) 100%);
    background-attachment: fixed;
}

// body {
//     background-image: url('/image.webp');
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
//     min-height: 100vh;
//     /* ぼかし効果を追加 */
//     // backdrop-filter: blur(10px);
//     // -webkit-backdrop-filter: blur(10px);
// }

// body::before {
//     content: "";
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.90);
//     /* 透明度を調整 */
//     z-index: -1;
// }

.mdc-label {
    cursor: pointer;
}

.mat-mdc-snack-bar-label.mdc-snackbar__label {
    word-break: break-all;
}

.mat-primary {

    &.mat-icon {
        --mat-icon-color: rgb(105 184 205);
    }

    // slider
    --mdc-slider-hover-handle-color: rgb(105 184 205);
    --mdc-slider-focus-handle-color: rgb(105 184 205);
    --mdc-slider-handle-color: rgb(105 184 205);
    --mdc-slider-active-track-color: rgb(105 184 205);

    // fab
    --mat-fab-foreground-color: rgb(105 184 205);
    --mat-fab-state-layer-color: rgb(105 184 205);

    // radio
    --mdc-radio-selected-focus-icon-color: rgb(105 184 205);
    --mdc-radio-selected-hover-icon-color: rgb(105 184 205);
    --mdc-radio-selected-icon-color: rgb(105 184 205);
    --mdc-radio-selected-pressed-icon-color: rgb(105 184 205);
    --mat-radio-checked-ripple-color: rgb(105 184 205);

    --mat-stepper-header-selected-state-icon-background-color: rgb(105 184 205);
    --mat-stepper-header-selected-state-icon-foreground-color: #003737;
    --mat-stepper-header-edit-state-icon-background-color: rgb(105 184 205);
    --mat-stepper-header-edit-state-icon-foreground-color: #003737;

    --mdc-checkbox-selected-focus-icon-color: rgb(105 184 205);
    --mdc-checkbox-selected-hover-icon-color: rgb(105 184 205);
    --mdc-checkbox-selected-icon-color: rgb(105 184 205);

    --mdc-filled-button-container-color: rgb(105 184 205);

    // text input
    --mat-form-field-focus-select-arrow-color: rgb(105 184 205);
    --mdc-outlined-text-field-caret-color: rgb(105 184 205);
    --mdc-outlined-text-field-focus-outline-color: rgb(105 184 205);
    --mdc-outlined-text-field-focus-label-text-color: rgb(105 184 205);


}

.mdc-dialog--open .mat-mdc-dialog-surface,
.mdc-dialog--closing .mat-mdc-dialog-surface {
    border-radius: var(--mdc-dialog-container-shape, 4px);
    background-color: var(--mdc-dialog-container-color, white);
    background: linear-gradient(to bottom right, #192020 0%, #111515 50%, #080a0a 100%);
}

.mat-mdc-button .mat-mdc-button-persistent-ripple::before {
    --mat-text-button-state-layer-color: rgb(105 184 205);
    // background-color: var(--mat-text-button-state-layer-color);
}

.mat-mdc-raised-button:not(:disabled),
.mat-mdc-button:not(:disabled) {
    --mdc-protected-button-label-text-color: rgb(105 184 205);
    --mdc-text-button-label-text-color: rgb(105 184 205);
}

html>body {

    // アコーディオン
    // --mat-expansion-container-text-font: 'Noto Sans JP', Roboto, "Helvetica Neue", sans-serif;

    .mat-expanded {
        .mat-expansion-panel-header-description {
            visibility: hidden;
        }
    }

    .mat-expansion-panel-header-description {
        min-width: 0;
    }

    .mat-expansion-panel-header-title {
        flex-grow: 0;
        width: 100px;
        flex-basis: auto;
    }

    --mat-dialog-container-max-width:auto;
    --mat-dialog-container-min-width:auto;

    a {
        color: lightblue;
        text-decoration: underline;
    }

    .unstyled-link {
        text-decoration: none;
        color: inherit;
        cursor: pointer;

        &:focus,
        &:hover {
            text-decoration: none;
            color: inherit;
        }
    }



    --mdc-fab-container-color: rgba(105, 184, 205, 20%);

    .mat-primary.mat-mdc-button-base {
        --mdc-icon-button-icon-color: rgb(105 184 205);
        --mat-icon-button-state-layer-color: rgb(105 184 205);
        --mat-icon-button-ripple-color: rgb(105 184 205);
    }

    // var(--mdc-filled-text-field-input-text-color, var(--mat-sys-on-surface));
    // caret-color: var(--mdc-filled-text-field-caret-color, var(--mat-sys-primary));
    --mat-sys-primary: rgb(105 184 205);

    /* カスタムスクロールバー */
    .custom-scroll {
        overflow-y: auto;
        overflow-x: auto;
        transition: all 0.3s 0s ease;

        scrollbar-color: rgb(26, 54, 61) rgb(11, 18, 20);

        &::-webkit-scrollbar {
            width: 17px;
        }

        // バーの背景色
        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: rgb(11, 18, 20);
            transition: background-color 0.3s 0.3s;
        }

        // バーの色
        &::-webkit-scrollbar-thumb {
            // background: rgb(6, 13, 15);
            border-radius: 10px;
            background-color: rgb(26, 54, 61);
            transition: background-color 0.3s 0.3s;
        }

        &:hover {
            scrollbar-color: rgb(59, 108, 121) rgb(11, 18, 20);

            &::-webkit-scrollbar {}

            &::-webkit-scrollbar-track {
                background-color: rgb(11, 18, 20);
            }

            &::-webkit-scrollbar-thumb {
                background-color: rgb(59, 108, 121);
            }
        }

        &--thin {
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: 5px;
            }
        }
    }
}


markdown {
    --border-light: hsla(0, 0%, 100%, .1);
    --border-medium: hsla(0, 0%, 100%, .15);
    --border-heavy: hsla(0, 0%, 100%, .2);
    --border-xheavy: hsla(0, 0%, 100%, .25);

    // ol, ul, menu {}
    // blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre{}
    // ol, blockquote はtailwindに上書きされている設定を戻す。
    ol {
        list-style-type: decimal;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }

    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
        unicode-bidi: isolate;
    }

    blockquote {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 40px;
        margin-inline-end: 40px;
        unicode-bidi: isolate;
    }

    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    h2 {
        display: block;
        font-size: 1.5em;
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        unicode-bidi: isolate;
    }

    table {
        display: block;
        width: auto;
        margin-bottom: 1.25rem;
        overflow-x: auto;

        th,
        td {
            border-color: rgba(0, 0, 0, .15);
            border-color: var(--border-medium);
            padding: .25rem .75rem;
        }

        th,
        td {
            &:not(:first-child) {
                border-left-color: #444;
                border-left-width: 2px;
                border-left-style: dotted;
            }
        }

        // tr:not(:last-child) td {
        //     border-bottom-width: 1px;
        // }

        tr:last-child td {
            &:first-child {
                border-bottom-left-radius: 1em;
            }

            &:last-child {
                border-bottom-right-radius: 1em;
            }
        }


        td {
            white-space: nowrap;
            background-color: #3b3b3b;
        }

        tr:nth-child(odd) td {
            background-color: transparent;
        }

        th {
            background-color: rgba(0, 0, 0, .1);
            background-color: var(--border-light);

            &:first-child {
                border-top-left-radius: 1em;
            }

            &:last-child {
                border-top-right-radius: 1em;
            }
        }
    }

    .mermaid {
        background-color: #e7e7e7;
    }

    code[class*=language-],
    pre[class*=language-] {
        font-family: 'M PLUS 1 Code', monospace, Roboto, "Helvetica Neue", sans-serif;
    }
}

// グラデーション文字のお試し
h1,
.gradient-texxt {
    background-image: linear-gradient(135deg,
            rgb(175, 210, 219) 0%,
            rgb(236, 255, 255) 8%,
            rgb(166, 214, 228) 80%,
            rgba(255, 255, 255, 1));
    // font-weight: bold !important;
    // font-family: 'Noto Sans Mono CJK JP' !important;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.loading-cover {
    position: fixed;
    top: 0;
    left: 0;
    margin: auto;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000088;
    z-index: 30;
}

option.古い {
    color: #b0b0b0;
    /* 落ち着いたグレー */
    background: linear-gradient(90deg, #d9d9d9, #b0b0b0);
}

option.実験,
option.独特 {
    color: oklch(0.95 0.25 273.95);
    /* より洗練された青系 */
    background: linear-gradient(90deg, #87ceeb, #4682b4);
    /* より視認性の高いブルーグラデーション */
}

option.速い {
    color: #ffffff;
    /* 白 */
    background: linear-gradient(45deg, #6a11cb, #5a85df);
    /* より読みやすい青紫系 */
}

option.賢い {
    color: #69b8cd;
    color: oklch(0.95 0.1 216.95);
    // color: oklch(0.9 0.12 42.42);
    /* 柔らかなオレンジ系 */
    background: linear-gradient(45deg, #ffecd2, #fcb69f);
    /* 明るく知的な印象のオレンジ系グラデーション */
}

button.mdc-icon-button.mat-mdc-icon-button {
    line-height: 0;
}