<div class="custom-scroll relative overflow-y-auto w-full mt-16" (scroll)="onScroll($event)"
    style="height: calc(100vh - 80px);">

    <table>
        <thead>
            <tr class="sticky top-0 bg-black z-10">
                <th>id</th>
                <th>name</th>
                <th>path_with_namespace</th>
                <!-- <th>default_branch</th> -->
                <th>description</th>
                <th class="w-28">updated_at</th>
                <th class="w-28">action</th>
                <!-- <th>name_with_namespace</th>
            <th>created_at</th>
            <th>path</th>
            <th>namespace</th> -->
            </tr>
        </thead>
        <tbody>
            @for (project of projects; track $index) {
            <tr>
                <td>{{project.id}}</td>
                <td>{{project.name}}</td>
                <td>
                    <a [href]="project.url" target="_blank">
                        {{project.path_with_namespace}}
                    </a>
                </td>
                <!-- <td (click)="stopImmediatePropagation($event)">
                    {{project.default_branch}}
                </td> -->

                <!-- <select (click)="projectMap[project.id].branches.length > 0? null: onBranches(project.id)"
                    [(ngModel)]="projectMap[project.id].selectedBranchId">
                    @if(projectMap[project.id].branches.length > 0) {
                    @for (branch of projectMap[project.id].branches; track $index) {
                    <option [value]="branch.name">
                        {{branch.name === project.default_branch?'*':' '}}
                        {{branch.name}}
                    </option>
                    }
                    } @else {
                    <option [value]="project.default_branch"> * {{project.default_branch}}</option>
                    }
                </select> -->

                <td>
                    <div [innerHTML]="project.description"></div>
                </td>
                <td>{{project.updated_at|date:'yyyy-MM-dd hh:mm:ss.SSS'}}</td>
                <td>
                    <button mat-raised-button (click)="onSelect(project.id)">AI要約</button>
                </td>
                <!-- <td>{{project.name_with_namespace}}</td>
            <td>{{project.created_at|date:'yyyy-MM-dd hh:mm:ss.SSS'}}</td>
            <td>{{project.path}}</td>
            <td>{{project.namespace|json}}</td> -->
            </tr>
            }
        </tbody>
    </table>
    @if(loading) {
    <div class="loading">Loading...</div>
    }
</div>
<div class="fixed top-0 left-0 flex w-full justify-between">
    <app-app-menu></app-app-menu>
    <app-user-mark></app-user-mark>
</div>